.venv/*
computer_vision/image_classification/data/*
computer_vision/image_classification/utils/__pycache__/*
computer_vision/image_classification/results/*
computer_vision/image_classification/__pycache__/*
computer_vision/image_classification/models/__pycache__/*
computer_vision/image_classification/results/*
data/*
computer_vision/image_generation/*
computer_vision/object_detection/*
poetry
computer_vision/image_classification/debug.ipynb
computer_vision/image_classification/training_log.log
training_log.log

PytorchForSagemaker/*
.env
__pycache__/*
