computer_vision/image_classification/models/__pycache__/__init__.cpython-311.pyc
computer_vision/image_classification/models/__pycache__/cnn.cpython-311.pyc
computer_vision/image_classification/utils/__pycache__/utils.cpython-311.pyc
computer_vision/image_classification/models/__pycache__/densenet.cpython-311.pyc
